* @SimonPaul02 @ta-mey
/frontend/ @JCaesar20 @ta-mey
/backend/ @rautenrieb @ta-mey
/COMMERCIAL_LICENSE_AGREEMENT.txt @marinovl7 @ta-mey
/LICENSE @marinovl7 @ta-mey
/.github/CODEOWNERS @marinovl7 @ta-mey