services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        stage: dev
    volumes:
      - ./backend:/app
      - /app/.venv
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: uv run fastapi dev --host 0.0.0.0 --port 8000 --reload
    environment:
      STAGE: dev
      DEV_MODE_SKIP_AUTH: ${DEV_MODE_SKIP_AUTH:-True}
      DEV_MODE_MOCK_ADMIN_ID: ${DEV_MODE_MOCK_ADMIN_ID:-763c76f3-e5a4-479c-8b53-e3418d5e2ef5}
      DATABASE_URL: postgresql://postgres:postgres@host.docker.internal:54322/postgres
      POSTGRES_HOST: host.docker.internal
      POSTGRES_PORT: 54322
    depends_on:
      supabase:
        condition: service_healthy
    networks:
      - app-network

  init-db:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        stage: dev
    entrypoint: [ "uv", "run", "-m", "app.data.populate_dummy_data", "&&", "uv", "run", "-m", "app.data.populate_static_data"]
    volumes:
      - ./backend:/app
      - /app/.venv
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      STAGE: dev
      DATABASE_URL: postgresql://postgres:postgres@host.docker.internal:54322/postgres
    depends_on:
      supabase:
        condition: service_completed_successfully
    networks:
      - app-network

  supabase:
    image: alpine
    command: >
      sh -c "
        echo 'Waiting for Supabase (host:54322)...' &&
        until nc -z host.docker.internal 54322; do sleep 1; done &&
        echo 'Supabase is ready.'
      "

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
