stage="dev"
# Database credentials
# Direct Connection
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=zusjyx-Hedkyr-wevwi9
# POSTGRES_HOST=db.qgqfapwoopmzrkartwfw.supabase.co
# POSTGRES_PORT=5432
# Transaction Pooler connection
POSTGRES_USER=postgres.syucjzgfvvmwsnairifl
POSTGRES_PASSWORD=fawgUs-9vujto-wyxgit
POSTGRES_HOST=aws-0-eu-central-1.pooler.supabase.com
POSTGRES_PORT=6543
POSTGRES_DB=postgres