@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-light: #f0f0f0;
  --flame-5: #FFEFEB;
  --flame-50: #ff3700;
  --flame-90: #4D0F00;
  --bw-10: #f4f4f5;
  --bw-40: #e4e4e7;
  --bw-30: #d4d4d8;
  --bw-40: #a1a1aa;
  --bw-50: #71717a;
  --bw-60: #27272a;
  --bw-70: #18181b;
  --marigold-5: #fff7eb;
  --marigold-10: #ffeacc;
  --marigold-30: #ffbf66;
  --marigold-40: #ffaa31;
  --marigold-50: #ff9500;
  --marigold-90: #4d2d00;
  --marigold-95: #291800;
  --forest-10: #D6F5E4;
  --forest-50: #33cc7b;
  --forest-60: #21ab63;
  --forest-90: #0F3D24;
  --font-dark: #262626;
  --custom-beige: #f0dfd5;
  --radius-md: 8px;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-light: var(--background-light);
  --color-flame-5: var(--flame-5);
  --color-flame-50: var(--flame-50);
  --color-flame-90: var(--flame-90);
  --color-bw-10: var(--bw-10);
  --color-bw-40: var(--bw-40);
  --color-bw-30: var(--bw-30);
  --color-bw-40: var(--bw-40);
  --color-bw-50: var(--bw-50);
  --color-bw-60: var(--bw-60);
  --color-bw-70: var(--bw-70);
  --color-marigold-5: var(--marigold-5);
  --color-marigold-10: var(--marigold-10);
  --color-marigold-30: var(--marigold-30);
  --color-marigold-40: var(--marigold-40);
  --color-marigold-50: var(--marigold-50);
  --color-marigold-90: var(--marigold-90);
  --color-marigold-95: var(--marigold-95);
  --color-forest-10: var(--forest-10);
  --color-forest-50: var(--forest-50);
  --color-forest-60: var(--forest-60);
  --color-forest-90: var(--forest-90);
  --color-font-dark: var(--font-dark);
  --color-custom-beige: var(--custom-beige);
  /* typography */
  --text-2xl: 24px;
  --text-2xl--font-weight: 700;
  --text-xl: 18px;
  --text-xl--font-weight: 600;
  --text-md: 16px;
  --text-md--font-weight: 600;
  --text-lg: 13px;
  --text-lg--font-weight: 600;
  --text-base: 13px;
  --text-base--font-weight: 400;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.accordionContent[data-state='open'] {
  animation: slideDown 700ms ease-out;
}
.accordionContent[data-state='closed'] {
  animation: slideUp 700ms ease-out;
}

body {
  background: var(--marigold-5);
  color: var(--font-dark);
  font-family: Arial, Helvetica, sans-serif;
}

.bebas-neue {
  font-family: 'Bebas Neue', 'Bebas Neue Fallback', sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  &[lang='de'] {
    hyphens: auto;
    hyphenate-limit-chars: auto 5;
  }
  body[data-scroll-locked] {
    overflow: visible !important;
    margin-right: 0 !important;
  }
}
