@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bw-10: #f4f4f5;
  --bw-20: #e4e4e7;
  --bw-30: #d4d4d8;
  --bw-40: #a1a1aa;
  --bw-50: #71717a;
  --bw-60: #27272a;
  --bw-70: #18181b;
  --marigold-5: #fff7eb;
  --marigold-10: #ffeacc;
  --marigold-30: #ffbf66;
  --marigold-40: #ffaa31;
  --marigold-50: #ff9500;
  --marigold-90: #4d2d00;
  --marigold-95: #291800;
  --radius-md: 8px;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bw-10: var(--bw-10);
  --color-bw-20: var(--bw-20);
  --color-bw-30: var(--bw-30);
  --color-bw-40: var(--bw-40);
  --color-bw-50: var(--bw-50);
  --color-bw-60: var(--bw-60);
  --color-bw-70: var(--bw-70);
  --color-marigold-30: var(--marigold-30);
  --color-marigold-40: var(--marigold-40);
  --color-marigold-50: var(--marigold-50);
  --color-marigold-90: var(--marigold-90);
  --color-marigold-95: var(--marigold-95);
  /* typography */
  --text-2xl: 24px;
  --text-2xl--font-weight: 700;
  --text-xl: 18px;
  --text-xl--font-weight: 600;
  --text-lg: 13px;
  --text-lg--font-weight: 600;
  --text-base: 13px;
  --text-base--font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
